
// #header{
//   background-image: url('/assets/awBlue.png' );
//   height:200px;
// }
#header {
  margin: 0;
  padding: 0;
  background: #FFF;
  .session-container {
    margin: 0;
    padding: 5%;
  }
}
