<<<<<<< HEAD

// #header{
//   background-image: url('/assets/awBlue.png' );
//   height:200px;
// }
=======
#header {
  margin: 0;
  padding: 0;
  background: #FFF;
  .session-container {
    margin: 0;
    padding: 5%;
  }
}
>>>>>>> 151c6ae225f06de50fd6f2f391e338716874da26
