#login {
  // display: flex;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  h2 {
    text-align: 0;
}
  input {
    border: none;
    padding: 3%;
    border-radius: 2px;
    width: 90%;
    display: block;
    margin: 3% auto;
  }
  .button {
    background: $btn-background;
    color: $btn-color;
    &:hover {
      background-color: $btn-hover;
    }
  }
}
