// @import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "_variables.scss";
@import "loginView.scss";
@import "signupView.scss";
@import "headerView.scss";

body {
  font-family: Avenir;
  color: $text;
  background: $background;
  margin: 0;
}
input {
  border: none;
  padding: 3%;
  border-radius: 2px;
  width: 90%;
  display: block;
  margin: 3% auto;
}
.button {
  background: $btn-background;
  color: $btn-color;
  &:hover {
    background-color: $btn-hover;
  }
}




//
// .ul-main {
//   display: flex;
//   flex-wrap: wrap;
//   li {
//     width: 50%;
//   }
// }
//
// .place-item-image {
//     width: 60%;
//   }
//
//   .images{
//    width:50%;
//   height:200px;
//   background-size: cover;
//   }
