// @import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "_variables.scss";

.place-item-image {
  // height: 15%;
  width: 25%;
  background-image: contain;
  // display:flex;

}

.ul-main {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 50%;
  }
}

.place-item-image {
    width: 60%;
  }

  .images{
   width:50%;
  height:200px;
  background-size: cover;
  }
