// @import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "_variables.scss";
@import "loginView.scss";
@import "signupView.scss";
@import "headerView.scss";

body {
<<<<<<< HEAD
    font-family: Avenir;
    color: $text;
    background: $background;
=======
  font-family: Avenir;
  color: $text;
  background: $background;
  margin: 0;
>>>>>>> 151c6ae225f06de50fd6f2f391e338716874da26
}
input {
    border: none;
    padding: 3%;
    border-radius: 2px;
    width: 90%;
    display: block;
    margin: 3% auto;
}
.button {
    background: $btn-background;
    color: $btn-color;
    &:hover {
        background-color: $btn-hover;
    }
}
ul {
    list-style: none;
}
.number {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
.place-item-image {
    width: 25%;
    background-image: contain;
    // display:flex;
}
.ul-main {
    display: flex;
    flex-wrap: wrap;
    li {
        width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}
.place-item-image {
  height: 480px;
  width: auto;


}
.images {
    width: 50%;
    height: 200px;
    background-size: cover;
}
.session-container {

<<<<<<< HEAD
    float: right;
    display: flex;
    flex-direction: column;

    .login {
        background: #c0c0c0;
        border-radius: 5px;
        color: #484848;
        font-weight: bolder;
        height:2rem;
        //border:none;
        margin:.5rem;
        &:hover{
          background: #007A87;
            color:white;
        }
    }
    .signup {
        background: #c0c0c0;
        border-radius: 5px;
        color: #484848;
        font-weight: bolder;
        height:2rem;
        margin:.5rem;
        &:hover{
          background: #007A87;
            color:white;
        }


    }
    .logout-btn {
        background: #c0c0c0;
        border-radius: 5px;
        color: #484848;
        font-weight: bolder;
        height:2rem;
        margin:.5rem;
        &:hover{
          background: #007A87;
          color:white;
        }


    }
}
#nav {
    position: absolute;
    top: 3rem;
}
#nav ul {
    display: flex;
    float: right;
    font-size: 1.6rem;
    font-weight: bold;
    li {
        padding-right: 2rem;
    }
}
#header {
    background-image: url('assets/awBlue.png' );
    height: 145px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 1rem;
}

.place-view{
      text-align: center;
      text-align: center;
position: absolute;
top: 90px;
left: 50%;
transform: translateX(-50%);
        h3{
          font-size: 2.5rem;
        }
        p{
          font-size: 1.5rem;
        }
}
=======

//
// .ul-main {
//   display: flex;
//   flex-wrap: wrap;
//   li {
//     width: 50%;
//   }
// }
//
// .place-item-image {
//     width: 60%;
//   }
//
//   .images{
//    width:50%;
//   height:200px;
//   background-size: cover;
//   }
>>>>>>> 151c6ae225f06de50fd6f2f391e338716874da26
